@charset "UTF-8";
/* STYLES */
/* line 9, ../sass/styles.scss */
body {
  background: #ecece7;
}

/* line 14, ../sass/styles.scss */
section#content {
  width: 320px;
  position: fixed;
  left: 50%;
  top: 50px;
  margin-left: -150px;
  text-align: center;
}

/* line 23, ../sass/styles.scss */
div.dropdown {
  text-align: left;
  font-size: 0.9em;
  color: #f0f0f0;
  width: inherit;
}
/* line 30, ../sass/styles.scss */
div.dropdown.closed ul {
  margin-top: 0px;
}
/* line 32, ../sass/styles.scss */
div.dropdown.closed ul li {
  margin-top: -40px;
  height: 0px;
}
/* line 37, ../sass/styles.scss */
div.dropdown.closed div.title:after {
  margin-top: -14px;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 43, ../sass/styles.scss */
div.dropdown div.title {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(25, 25, 25, 0.3);
  padding: 12px;
  cursor: pointer;
  background: #393d41;
  color: #a5a5a6;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.3);
}
/* line 55, ../sass/styles.scss */
div.dropdown div.title:after {
  display: block;
  content: "▾";
  position: absolute;
  right: 20px;
  margin-top: -12px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 65, ../sass/styles.scss */
div.dropdown ul {
  overflow: hidden;
  -moz-transition: margin-top 1s;
  -o-transition: margin-top 1s;
  -webkit-transition: margin-top 1s;
  transition: margin-top 1s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 6px 16px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 6px 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 6px 16px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 0px 0px 2px 2px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 2px 2px;
}
/* line 72, ../sass/styles.scss */
div.dropdown ul li {
  width: 100%;
  padding: 12px;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
  color: #999999;
  -moz-transition: margin-top 0.5s, height 0.5s;
  -o-transition: margin-top 0.5s, height 0.5s;
  -webkit-transition: margin-top 0.5s, height 0.5s;
  transition: margin-top 0.5s, height 0.5s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fbf9f8;
}
/* line 83, ../sass/styles.scss */
div.dropdown ul li img {
  width: 20px;
}
/* line 87, ../sass/styles.scss */
div.dropdown ul li .flag {
  padding-right: 20px;
}
/* line 91, ../sass/styles.scss */
div.dropdown ul li .check {
  padding-left: 80px;
  color: #fbf9f8;
}
/* line 96, ../sass/styles.scss */
div.dropdown ul li:first-child {
  border-bottom: none;
  border-top: none;
}
/* line 100, ../sass/styles.scss */
div.dropdown ul li:last-child {
  border-top: none;
  -moz-border-radius: 0px 0px 2px 2px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 2px 2px;
}
/* line 104, ../sass/styles.scss */
div.dropdown ul li:hover {
  background: #4ebbf0;
  color: #ffffff;
}
/* line 108, ../sass/styles.scss */
div.dropdown ul li:before {
  content: " ";
  display: inline-block;
  position: relative;
  margin-top: -12px;
  margin-right: 10px;
  width: 20px;
  height: 40px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
